body .result-item {
  font-family: 'Noto Sans TC', sans-serif;
}

body {
  background-color: rgb(251, 232, 211);
}

.container {
  background-color: white;
  width: 90%;
}

/*
 * header
 *
 */

.header-container {
  margin-bottom: 30px;
}

.header-title {
  color: white; 
  background-color: #283C63;
  border-top: 30px;
  height: 60px;
  font-size: 40px;
  text-align: center;
  position: absolute;
  width: 100%;
  left: 0;
  padding-top: 4px;
  padding-left: 20px;
}

#header-image {
  width: 100%;
  height: 430px;
  background-image: url("header.png");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  left: 0;
  top: 60px;
  opacity: 0.7;
  z-index: 0;
}

.search-container {
  height: 400px;
}

.search-block {
  max-width: 950px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(22, 27, 29, 0.9);
  color: white;
  border-radius: 10px 10px 10px 10px;
  padding-bottom: 30px;
  top: 110px;
  position: relative;
}

.search-block #search-btn {
  background-color: #283C63;
}

/*
 * content
 *
 */
.content-container {
  position: relative;
  top: 100px;
  width: 90%;
  min-height: 500px;
  margin: 0 auto;
}

.content-container .result-item {
  margin: 0;
  padding: 10px 0 10px 20px;
  z-index: 1;
  position: relative;
}

.content-container .result-item:nth-child(even) {
  background-color: white;
}

.content-container .result-item:nth-child(odd) {
  background-color: #f2f2f2;
}

.content-container .result-item:hover {
  background-color: #aaaaaa;
}

.result-item .col{
  padding-left: 0;
  padding-right: 0;
}

.result-item .row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
}

.result-item .button-wrapper {
  line-height: 45px;
  vertical-align: middle;
}

.result-item .button-wrapper .col {
  height: 45px;
}

.result-item .title {
  color: #265985;
  font-size: 1.05em;
}

/*
 * page number container
 *
 */
#page-number-container {
  position: relative;
  top: 100px;
  padding-bottom: 20px;
}

#page-number-container .active {
  background-color: #283C63;
}

/*
 * footer
 *
 */
footer.page-footer {
  position: relative;
  top: 100px;
  padding-top: 0;
  min-height: 40px;
  background-color: #283C63;
  color: white;
}

footer.page-footer > .container {
  background-color: inherit;
}

footer.page-footer .row {
  margin-bottom: 0;
}

.footer-image {
  width: 400px;
  height: 100px;
  background-image: url("mazu.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  left: 0;
  top: 40px;
}
