body .result-item {
  font-family: 'Noto Sans TC', sans-serif;
}

footer.page-footer {
  padding-top: 0;
  min-height: 40px;
  background-color: #283C63;
  color: white;
}

footer.page-footer > .container {
  background-color: inherit;
}

footer.page-footer .row {
  margin-bottom: 0;
}
