body {
  background-color: rgb(251, 232, 211);
}

.container {
  background-color: white;
  width: 90%;
}

/*
 * header
 *
 */

.header-container {
  margin-bottom: 30px;
}

.header-title {
  color: white; 
  background-color: #283C63;
  border-top: 30px;
  height: 40px;
  font-size: 24px;
}

#header-image {
  width: 90%;
  height: 360px;
  background-image: url("header.png");
  background-repeat: no-repeat;
  background-position: right;
  background-attachment: fixed;
  background-size: cover;
  position: absolute;
  left: 5%;
  top: 40px;
  opacity: 0.7;
}

.search-container {
  height: 400px;
}

.search-block {
  max-width: 950px;
  width: 80%;
  margin: 0 auto;
  background-color: rgba(22, 27, 29, 0.9);
  color: white;
  border-radius: 10px 10px 10px 10px;
  padding-bottom: 30px;
  top: 40px;
  position: relative;
}

.search-block #search-btn {
  background-color: #283C63;
}

/*
 * content
 *
 */
.content-container {
  width: 90%;
  min-height: 500px;
  margin: 0 auto;
}

.content-container .result-item {
  margin: 0;
  padding-left: 20px;
}

.content-container .result-item:nth-child(even) {
  background-color: white;
}

.content-container .result-item:nth-child(odd) {
  background-color: #f2f2f2;
}

.content-container .result-item:hover {
  background-color: #aaaaaa;
}

.result-item .col{
  padding-left: 0;
  padding-right: 0;
}

.result-item .row {
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
}

.result-item .button-wrapper {
  line-height: 100px;
  vertical-align: middle;
}

.result-item .title {
  color: #265985;
  font-size: 1.05em;
}

/*
 * page number container
 *
 */
#page-number-container {
  padding-bottom: 20px;
}

#page-number-container .active {
  background-color: #283C63;
}

/*
 * modal
 */
#edit-modal {
  max-height: 720px;
}

.d-title {
    
}

.d-content {
    
}


